/* This is a universal selector, it will apply this properties to the whole webpage */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* This properties will apply to all HTML elements inside <body> tags*/
body {
    background-color: #d9dcd6;
}


/*Creates a class named "header", its properties will apply to all the HTML elements calling this class*/
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* All HTML <h1> elements, insides class "header", will have this properties */
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/* All HTML elements calling "seo" class, insides class "header" inside <h1> tags, will have this properties */
.header h1 .seo {
    color: #d9dcd6;
}

/* All HTML <nav> elements, insides class "header", will have this properties */
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* All HTML <ul> elements, insides class "header" inside <nav> tags, will have this properties */
.header nav ul {
    list-style-type: none;
}

/* All HTML <li> elements, insides class "header" inside nav inside <ul> tags, will have this properties */
.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* All HTML <a> tags will have this properties */
a {
    color: #ffffff;
    text-decoration: none;
}

/* All HTML <p> tags will have this properties */
p {
    font-size: 16px;
}

/*Creates a class named "hero", its properties will apply to all the HTML elements calling this class*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
    
}

/*Creates a class named "content", its properties will apply to all the HTML elements calling this class*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/*Creates a class named "article-header", its properties will apply to all the HTML elements calling this class*/
.article-header {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* All HTML <img> elements, insides class "article-header", will have this properties */
.article-header img {
    max-height: 200px;
}

/* All HTML <h2> elements, insides class "article-header", will have this properties */
.article-header h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*Creates a class named "float-left", its properties will apply to all the HTML elements calling this class*/
.float-left {
    float: left;
    margin-right: 25px;
}

/*Creates a class named "float-right", its properties will apply to all the HTML elements calling this class*/
.float-right {
    float: right;
    margin-left: 25px;
}

/*Creates a class named "benefits", its properties will apply to all the HTML elements calling this class*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/*Creates a class named "benefit", its properties will apply to all the HTML elements calling this class*/
.benefit{
    margin-bottom: 32px;
    color: #ffffff;
}

/* All HTML <h3> elements, insides class "benefit", will have this properties */
.benefit h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* All HTML <img> elements, insides class "benefit", will have this properties */
.benefit img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*Creates a class named "footer", its properties will apply to all the HTML elements calling this class*/
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}